<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrayChatBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TrayChatBot.Properties.Settings>
            <setting name="login" serializeAs="String">
                <value>trayhardplay</value>
            </setting>
            <setting name="oauth" serializeAs="String">
                <value>oauth:ode4ae72109les22ezesvr2rsk202s</value>
            </setting>
            <setting name="clientid" serializeAs="String">
                <value>njjaoh5y4rjap9vtwcac3e6y3j8pvj4</value>
            </setting>
            <setting name="apptoken" serializeAs="String">
                <value>zip8gno3lr6xh2r74wicjsr59q4tmn</value>
            </setting>
        </TrayChatBot.Properties.Settings>
    </userSettings>
</configuration>